.table
  width 100%
  max-width 100%
  margin-bottom 1rem
  background-color transparent

  th, td
    padding .75rem
    vertical-align top
    order-top 1px solid #dee2e6

  thead
    th
      vertical-align bottom
      border-bottom 2px solid #dee2e6

  tbody
    tr:hover
      background-color rgba(0, 0, 0, .075)